<div class="table-responsive">
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th>Grupo de Señales</th>
                <th *ngFor="let item of grpSemaforico[0].pasos; let indicePasos = index">{{indicePasos+1}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of grpSemaforico" >
                <th>{{item.nro}}</th>
                <td *ngFor="let itemPasos of item.pasos">
                    <!--div [ngClass]="validaTiempo(itemPasos.tiempo) ? 'border border-danger' : '' "-->
                    <div [ngStyle]="{'background-color':validaTiempo(itemPasos.tiempo) ? 'yellow' : '' }">
                        <app-semaforotiempo [tiempo]="itemPasos.tiempo" [accion]="dividirAccion(itemPasos.accion, 0)" ></app-semaforotiempo>
                    </div>                    
                </td>
            </tr>
        </tbody>
    </table>
</div>