<div class="table-responsive">
    <table >
        <thead>
            <tr>
                <th>Grupo de Señales</th>
                <th *ngFor="let item of grpSemaforico[0].pasos; let indicePasos = index">{{indicePasos+1}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of grpSemaforico" >
                <th>{{item.nro}}</th>
                <td *ngFor="let itemPasos of item.pasos">
                    <div [ngStyle]="{'background-color':validaTiempo(itemPasos.tiempo) ? 'black' : '' }">
                        <app-semaforo-lineas [tiempo]="itemPasos.tiempo" [accion]="dividirAccion(itemPasos.accion, 0)"></app-semaforo-lineas>
                    </div>                  
                </td>
            </tr>
        </tbody>
    </table>
</div>