<br>
<div class="container">
  <div class="row">
    <div class="col-6 col-sm-4">
      <mat-card>
        <mat-card-title>Plan Semaforico con el ID: {{id}}</mat-card-title>
        <mat-card-subtitle>
          <br>
          <b>Nombre Intersección:</b>&nbsp;&nbsp; {{planSemaforico.nombreInterseccion}}<br>
          <b>Ciclos:</b>&nbsp;&nbsp; {{planSemaforico.cicloIntersecion}}<br>
          <b>Numero de Centrales:</b>&nbsp;&nbsp; {{planSemaforico.numeroCentral}}
        </mat-card-subtitle>
        <mat-card-actions align="end">
          <button mat-button>Parar</button>
          <button mat-button>Arrancar</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-6 col-sm-4">

      <mat-card>
        <mat-card-title>Información General</mat-card-title>
        <mat-card-subtitle>
          <br>
          <b>Número de clientes conectados:</b>&nbsp;&nbsp; 0<br>
          <b>Tiempo Actual de ejecución:</b>&nbsp;&nbsp; {{tiempoActual}}<br>
          <b>Estado:</b>&nbsp;&nbsp; APAGADO
        </mat-card-subtitle>
        <mat-card-actions align="end">
          <button mat-button>Parar</button>
          <button mat-button>Arrancar</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 col-sm-12"><h1>Grupos Semaforicos</h1></div>    
  </div>
    <app-centrales [grpSemaforico]="planSemaforico.grpSemaforico" [tiempoActual]="tiempoActual"></app-centrales>
</div>